<div class="container">
<h2>Log in</h2>
<form action="/sessions" method="post">
  <label for="Email">email</label>
  <input type="text" name="email" value="">
  </br>
  <label for="password">password</label>
  <input type="password" name="password" value="">
  </br>
  <input type="submit" value="Log in">
</form>
</div>
