

<div id="twitter-head">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Lil Twitter</h1>
        <h2 class="text-center">
          Here's your friend <%= @profile.name %>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 text-center">
              <% @profile.tweets.each do |tweet| %>
                <p><%= tweet.body %></p>
              <% end %>
            </div>
        </div>
      </div>
  </div>
</div>
