<div class="container">
<h2>Sign up</h2>
<form action="/new_user" method="post">
  <label for="name">name</label>
  <input type="text" name="name" value="">
  </br>
  <label for="Email">email</label>
  <input type="text" name="email" value="">
  </br>
  <label for="user_name">username</label>
  <input type="text" name="username" value="">
  </br>
  <label for="password">password</label>
  <input type="text" name="password" value="">
  </br>
  <label for="password_confirmation">password confirmation</label>
  <input type="text" name="password_confirmation" value="">
  </br>
  <input type="submit" value="Sign up">
</form>
</div>
